aiofile==3.8.8
caio==0.9.17
cffi==1.16.0
cryptography==42.0.8
environs==11.0.0
marshmallow==3.21.3
netifaces==0.11.0
packaging==24.1
psutil==6.0.0
pycparser==2.22
pydantic==1.10.9
python-dotenv==1.0.1
typing-extensions==4.12.2
